{% extends 'layout.html' %}

{% block title%}
    About
{% endblock %}

{% block content %}
    <h1>About</h1>
    <h4>  
        Welcome to <u> Chad's Movie Tracker </u> – Your Ultimate Movie Tracker!

Stay organized and enhance your movie-watching experience with our user-friendly platform
designed for film enthusiasts. With <u> Chad's Movie Tracker </u>, you can effortlessly log the movies
you've watched, rate them, and share your thoughts. <br> <br>

Key Features: <br> <br>

1) Track Your Collection: Easily record every film you watch and keep a comprehensive list.
<br> <br>
2) Rate & Review: Share your opinions with a simple rating system and write personalized reviews 
for each movie.
<br> <br>
3) Personal Dashboard: Access your viewing history and ratings at a glance, making it easy to
 revisit your favorite movies.
<br> <br>
 Whether you’re a casual viewer or a devoted cinephile, <u> Chad's Movie Tracker </u>  is the perfect 
 place to celebrate your love for film. Start tracking today and never forget a great movie 
 again!
    </h4>
{% endblock %}
